.gallery-container {
    width: 95%;
    padding-top: 27px;
    padding-bottom: 20px;
    padding-left: 36px;
    padding-right: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    width: 98%;
    margin: 0 auto;
    grid-template-rows: auto;
}

.gallery-item {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.gallery-item:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.gallery-item:hover img {
    transform: scale(1.1);
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.popup-overlay:hover {
    cursor: pointer;
}

@media (max-width: 1024px) {
    .gallery-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .gallery-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .gallery-grid {
        grid-template-columns: 1fr;
    }

    .gallery-container {
        padding-left: 20px;
        padding-right: 20px;
    }
}